#home-page{
  text-align: center;
  padding:25px;

  a{
    text-decoration: none;
    color:#326e4a;
    font-weight:500;
  }
h1{
  font-size:2rem;
  font-weight:700;
  margin:2rem 0;
}
h2{
  font-size:1.2rem;
  line-height:1.2;
  margin-bottom:2rem;
}


}
