nav {
  padding: 25px;

.nav-container{
  display:flex;
  justify-content: space-between;

  .nav-button {
    max-width: 30px;
    text-align: center;
    cursor:pointer;

    img {
      width: 100%;
      height: auto;
      margin-bottom:.5rem;
    }
    span{
      font-size:.7rem;
    }
    a{
      text-decoration: none;
      color:black;

    }
  }
}


  .nav-section {
    display: none;
  }

  .nav-show {
    margin-top:2rem;
    display: block;
  }

  .userinfo {
    display: flex;
    justify-content: center;

    .usergroup {
      display:inline-block;


      input {
        font-size: 16px;
        padding:5px 10px;
        border: none;
        background: $inputBg;
        box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75);
        border-radius: 2px;
        font-weight:300;
        letter-spacing: .5px;
        text-align: center;
        max-width:200px;
        &::placeholder{
          font-size:.9rem;
          color:#8fcce1;
        }
      }
    }

    .submit-button {
      margin-left:.5rem;
      max-width: 30px;

      &:hover{
        cursor: pointer;
      }

      img {
        width: 100%;
      }
    }
  }

  .input-section {
    margin-top:1rem;

    .group-inputs {

      margin: 0 5px;



      select {
        font-size: 16px;
        border-radius: 2px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        padding: 5px 10px;
        background: $inputBg;
        box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75);
      }

      input {
        font-size: 16px;
        width: 60px;
        padding: 5px 10px;
        border: none;
        background: $inputBg;
        box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75);
        border-radius: 2px;
      }
    }
  }
}

label {
  letter-spacing: 0.5px;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-right:10px;
}
