nav {
     background:$green;

 .nav-container{
 padding:25px;
   .nav-buttons{
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     font-size:1rem;
     a{
       text-decoration: none;
       color:white;
       cursor:pointer;
       letter-spacing: 1px;
       &:hover{
         font-weight:500;
       }
     }
   }
 }
  .nav-section {
    display: none;
  }

  .nav-show {
    display: block;
      background: #3a3e3c;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      .colorContainer{
        .group-inputs{
          label{
            color: white;
    margin-right: 1rem;
          }
          select{
            font-size: 16px;
      background: #fffffb;
      padding: 5px;
      border: none;
      border-radius: 5px
          }
        }
      }
  }
}
