@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

body {
  font-family: 'Roboto', sans-serif;
  // background: purple;
}

.home {
  // max-width:450px;
  // max-height:600px;
  margin: 0 auto;

  .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    .inputGroup {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        align-content: center;

        margin:1rem;
        input{
        width:60px;
          padding:7px;
          border:none;
              background: #d3e1e6;
          box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75);
            border-radius: 5px;


        }



      label {
        letter-spacing: .5px;
        font-size:.8rem;
        font-weight:600;
        text-transform: uppercase;
        padding-bottom: 5px;
      }

      select {
        border-radius: 5px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border:none;
        padding: 7px;
          background: #d3e1e6;
        box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75)
      }
    }
  }
  .nav-section {
    display: flex;
    justify-content: center;
    align-items: center;


    .group {
      padding: 2px;

      button {
        width: 100%;
        background: #1282a8;
        color: white;
        padding: 10px 20px;
        font-size: 0.8rem;
        border: none;
        border-radius: 5px;
        letter-spacing: 0.5px;
        -webkit-box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75);
        box-shadow: 2px 6px 9px -6px rgba(0,0,0,0.75);

        &:hover {
          background: #0e90bc;
        }
      }
    }
  }



  .results {
    font-size: 20px;

    .top-header {
      margin-top:2rem;
      margin-bottom: 20px;
      text-align: center;

      h1 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
        letter-spacing: 0.5px;

        span {
          color: red;
        }
      }

      h3 {
        font-size: 16px;
        margin-bottom: 5px;

        .dailyDown {}

        .dailyUp {
          color: green;
        }
      }
    }

    .workout {
      color: black;
      margin-bottom: 20px;
      text-align: center;
      font-weight: 400;

      .workout-detail {
        font-weight: 300;
      }
    }

    .stats {
      h1 {
        padding: 10px;
        font-weight: 400;
        padding-left: 50px;

        .category {
          font-weight: 300;
        }

        .percentage {
          font-size: 16px;
          color: purple;
        }
      }
    }
  }
}
