@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "nav";
@import "colorPicker";
@import "instructions";
@import "userSearch";
@import "note";
@import "home";

body {
  font-family: 'Roboto', sans-serif;

}
*{
  box-sizing: border-box;
}

.home {
  margin: 0 auto;
  max-width: 500px;
background:white;
box-shadow: -1px 5px 25px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding-bottom:5rem;

}
